*.pyc
/recipe-svn-creds.txt
_site
.python-version
*.ini
.terraform
*.swp
.cache
.pants.d
.pants.workdir.file_lock
.ruby-version
dist
ali_bot.egg-info/
.list-branch-pr-cached-commits
.cached-commits
.test_cache
.cached_github_client_cache
.envrc
