*                          @ktf @dberzano @brinick
/cvmfs/*                   @dberzano
/ci/*                      @dberzano
/ci/continuous-builder.sh  @ktf
/es/*                      @ktf
/scripts/*                 @ktf
/publish/*                 @dberzano
