---
# This rule-set gets applied on each tag present in git.
# Rules are evaluated in the order they appear.
# - If a tag matches a black list rule, it's discarded and evaluation
# of rules for that tag stops.
# - If a tag matches a inclusion rule, it's added to the list of builds
#   to be done, and evaluation continues.

# Do not build old releases, we do not care about them, at least for now.
integration_rules:
- branch: master
  architecture: slc7_x86-64
  alidist: IB/master/root6
  alibuild: master
  package: aliroot
-
  branch: master
  architecture: slc7_x86-64
  alidist: master
  alibuild: master
  package: aliroot-test
-
  branch: master
  architecture: slc6_x86-64
  alidist: master
  alibuild: master
  package: aliroot-test
-
  branch: master
  architecture: slc5_x86-64
  alidist: master
  alibuild: master
  package: aliroot-test
-
  branch: master
  architecture: ubt14_x86-64
  alidist: master
  alibuild: master
  package: aliroot-test
-
  branch: master
  architecture: slc7_x86-64
  alidist: master
  alibuild: master
  package: o2
-
  branch: master
  architecture: slc6_x86-64
  alidist: master
  alibuild: master
  package: o2
-
  branch: master
  architecture: ubt14_x86-64
  alidist: master
  alibuild: master
  package: o2
release_rules:
- 
  name: aliroot
  exclude: v[01234].*
- 
  name: aliroot
  exclude: ^[^v][^0-9].*
# More old releases, we also do not care.
- name: aliroot
  exclude: vAN
-
  name: aliroot
  exclude: v5-0[0-5].*
-
  name: aliroot
  exclude: v5-2.*
-
  name: aliroot
  exclude: v5-06-[01].*
-
  name: aliroot
  exclude: v5-06-2[0-5].*
-
  name: aliroot
  exclude: v5-06-.*(rc|test|itsmisalign).*
# Build recent releases for slc5, slc6
-
  name: aliroot
  include: v5-.*
  architecture: slc5_x86-64
  env:
    TEST: all
-
  name: aliroot
  include: v5-.*
  architecture: slc6_x86-64
  env:
    TEST: all
-
  name: aliroot
  include: v5-.*
  architecture: slc7_x86-64
  env:
    TEST: all
