PyGithub==1.45
argparse
requests
pytz
klein[services]
python-ldap[services]
boto3==1.23.10
s3cmd
pyyaml
typing-extensions==4.1.1; python_version == '3.6'  # for gql; by default it pulls in a version that isn't compatible with python3.6
gql; python_version >= '3.6'
requests-toolbelt; python_version >= '3.6'  # for gql
