PyGithub==1.46
argparse
requests
pytz
s3cmd
pyyaml
# This is the last boto3 version to support python3.6.
boto3==1.23.10; python_version >= '3.6' and python_version < '3.8'
# Newer Pythons need a newer boto3.
# https://github.com/boto/boto3/issues/4398
boto3<1.36.0; python_version >= '3.8'
legacy-cgi # for boto3, see https://docs.python.org/3/library/cgi.html
Twisted[services]
klein[services]
python-ldap[services]
# For gql; by default it pulls in a typing-extensions version that isn't
# compatible with python3.6.
typing-extensions[ci]==4.1.1; python_version == '3.6'
gql[ci]; python_version >= '3.6'
requests-toolbelt[ci]; python_version >= '3.6'  # for gql
# For nomad-diskfree
python-nomad[utils]
