CI_NAME=build_O2_alidist_dataflow_slc10_x86
PACKAGE=O2Suite
ALIBUILD_DEFAULTS=o2-dataflow
PR_REPO=alisw/alidist
PR_BRANCH=master
NO_ASSUME_CONSISTENT_EXTERNALS=
TRUST_COLLABORATORS=true
CHECK_NAME=build/O2/alidist-dataflow-slc10-x86
DONT_USE_COMMENTS=1
DEVEL_PKGS="$PR_REPO $PR_BRANCH"
ALIBUILD_O2_TESTS=1
ALIBUILD_O2PHYSICS_TESTS=1

# As in o2-alidist.env: slc10 tarballs are only in the CAS store, and only
# aliBuild 2.0 can read it or accept an slc10 architecture.
REMOTE_STORE=https://s3.cern.ch/swift/v1/alibuild-repo
INSTALL_ALIBUILD='alisw/alibuild@refs/pull/1038/head'
